body{
    display: flex ; 
    justify-content: center;
    align-items: center;
    height: 930px;
}
article{
    display: flex ; 
    flex-direction: column;
    align-items: center;
    
    width: 300px;
    background-color: #6BE3B3;
    color:#E18CE1;
}
img{
    display: flex ; 
    width: 190px;
    justify-content: flex-end;
    border: 5px solid #E18CE1 ;
    border-radius: 10px;
}
h1{
    display: flex;
    justify-content: center;
    font-family: "Agbalumo";
}
p{
    font-size: 1.2em;
    text-align: center;
    margin: 16px;
    font-family: "Inter variant0", sans-serif;
}
button:nth-child(1){
    color:#6BE3B3;
    background: #98CC60;
    border: 3px solid #E18CE1;
    border-radius: 10px;
}
button:nth-child(1):hover{
    color: #E18CE1;
    background: #6BE3B3;
}
button:nth-child(2){
    color:#6BE3B3;
    background: #E18CE1;
    border: 3px solid #98CC60;
    border-radius: 10px;
}
button:nth-child(2):hover{
    color: #E18CE1;
    background: #6BE3B3;
}
footer{
    margin-bottom: 10px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
button{
    padding: 8px;
}